fastapi==0.115.6
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.36
pymysql==1.1.1
pydantic==2.10.4
pydantic-settings==2.7.0
boto3==1.35.93
python-multipart==0.0.20
jinja2==3.1.4
passlib==1.7.4
bcrypt==4.0.1
itsdangerous==2.2.0
cryptography
openpyxl
pandas
segno==1.6.6

# Kiểm thử
pytest==8.3.4
httpx==0.28.1
